* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
}
body img.fixed-image {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
  left: 0;
}
body nav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
}
body nav ul {
  display: flex;
}
body nav ul li {
  list-style: none;
  margin: 1rem;
}
body nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}
body nav ul li a:hover {
  color: rgb(54, 212, 138);
}
body main section.main-area {
  min-height: 95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main section.main-area div.info {
  color: rgb(255, 255, 255);
  flex-basis: 450px;
  min-width: 40vw;
  padding: 1rem;
}
body main section.main-area div.info h1 {
  font-size: 3.5rem;
}
body main section.main-area div.info h2 {
  font-size: 1.5rem;
}
body main section.main-area div.info a {
  color: white;
  background-color: rgb(54, 212, 138);
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  transition: all 0.5s ease;
}
body main section.main-area div.info a:hover {
  transform: scale(1.2);
}
body main section.main-area div.img-area {
  flex-basis: 200px;
}
body main section.main-area div.img-area img {
  width: 150%;
  border-radius: 40%;
}
body main section.about-me {
  background-color: rgb(154, 223, 191);
  background-image: url(../img/BG2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 10rem 0rem;
  display: flex;
  justify-content: center;
}
body main section.about-me section.description {
  width: 50%;
  text-align: center;
}
body main section.about-me section.description p {
  font-size: 1.3rem;
}
body main section.about-me section.description h2 {
  font-size: 3rem;
}
body main section.about-me section.description .progress-bar-area p {
  font-size: 1.3rem;
  margin-top: 2.5rem;
}
body main section.portfolio {
  background: var(--second-bg-color);
}
body main section.portfolio h2.heading {
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 0rem;
}
body main section.portfolio .portfolio-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
body main section.portfolio .portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
body main section.portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
body main section.portfolio .portfolio-container .portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
body main section.portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
  font-size: 3rem;
  color: white;
}
body main section.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
  color: white;
}
body main section.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
body main section.portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}
body main section.portfolio .portfolio-container .portfolio-box img {
  width: 130%;
  transition: 0.5s ease;
}
body main section.portfolio .portfolio-container .portfolio-box img:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  padding: 2rem;
  justify-content: center;
  margin: 0rem;
  bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.438);
  background-image: url(../img/BG3.jpg);
}
footer div.contact {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  main section.portfolio h2 {
    margin-bottom: 3rem;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 1.6rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer p {
    font-size: 1rem;
    margin: 0.1rem 0 1rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
  }
}
@media screen and (max-width: 1200px) {
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 1.6rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer p {
    font-size: 1.2rem;
    margin: 0.1rem 0 0.5rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--text-color);
    border-radius: 50%;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 1.5rem;
    color: var(--second-bg-color);
  }
}
@media screen and (max-width: 1000px) {
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 1.2rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer p {
    font-size: 0.8rem;
    margin: 0.1rem 0 0.5rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: var(--text-color);
    border-radius: 50%;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 1.2rem;
    color: var(--second-bg-color);
  }
}
@media screen and (max-width: 900px) {
  main section.portfolio h2 {
    margin-bottom: 3rem;
  }
  main section.portfolio div.portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 2rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer p {
    font-size: 1.2rem;
    margin: 0.1rem 0 1rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a {
    width: 2.5rem;
    height: 2.5rem;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  body img.fixed-image {
    width: 140%;
  }
  body main section.about-me section.description {
    width: 80%;
  }
  body main section.resume {
    overflow-x: auto;
  }
}
@media screen and (max-width: 750px) {
  main section.portfolio h2 {
    margin-bottom: 3rem;
  }
  main section.portfolio div.portfolio-container {
    grid-template-columns: 1fr;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 3rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.1rem 0 1rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a {
    width: 4rem;
    height: 4rem;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 2rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer p {
    font-size: 1.2rem;
    margin: 0.1rem 0 1rem;
    color: white;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a {
    width: 2.5rem;
    height: 2.5rem;
  }
  main section.portfolio div.portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  body nav {
    position: static;
  }
  body nav ul {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */